<h4>Verdict: Call Me Maybe</h4>

<p>We see you striving. Your financials just need a little love. To make sure you got that loan in the pocket:</p>


<h5>Late Payments</h5>

<p>No mo late payments, homie. For real. If you always late, banks think you always gon <i>be</i> late.</p>


<h5>Debt to Credit Limit Ratio</h5>

<p>Pay down yo debt, or</p>
<p>Apply for a fresh credit card to up dat credit limit- but don’t use it. Eva.</p>


<h5>Income</h5>

<p>If you can hustle any harder, getting mo $$$ will help yo score</p>
