<div class="header bg-black">
    <div id="headerNavbar" class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div id="logoLockup">
                <a class="navbar-brand" href="/">
                    <div id="logo">LoanVet</div>
                    <div id="tagline">are YOU qualified?</div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto w-100 justify-content-end">
                    <a class="nav-item nav-link" href="/">Vet Yo Self</a>
                    <a class="nav-item nav-link" href="about">Check Yo Method</a>
                    <a class="nav-item nav-link" href="accreditation">Accreditation</a>
                </div>
            </div>
        </nav>
    </div>
</div>
