<h4>Verdict: Hell No</h4>

<p>Bro...what you been up to? You gotta hide yo kids, hide yo wife. Rebuild that credit son.</p>
<p>You Slippin! If you want dat loan, here’s what you gotta change:</p>


<h5>Late Payments</h5>

<p>No mo late payments, homie. For real. If you always late, banks think you always gon <i>be</i> late.</p>


<h5>Debt to Credit Limit Ratio</h5>

<p>Pay down yo debt, or</p>
<p>Apply for a fresh credit card to up dat credit limit- but don’t use it. Eva.</p>


<h5>Income</h5>

<p>If you can hustle any harder, getting mo ens will help yo score</p>
