<!DOCTYPE HTML>

<html lang='en'>
    <head>
        <title>About Us</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- D3 -->
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <!-- My CSS -->
        <link rel="stylesheet" href="../static/styles/home.css">


    </head>

    <body>
        <!-- navbar -->
        <div class="header">
            <!-- {% include 'header.html' %} -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <div id="logo">
                        LoanVet
                    </div>
                    <div class="tagline">
                        are YOU qualified?
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Vet Yo Self</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Check Yo Method</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--Body-->
        <div class="">
            <div id="homeHeader" style="background-image:url(../static/images/vet-yo-self.jpg)">
                <!-- <img src="../static/images/vet-yo-self.jpg" alt="" id="homeHeaderImg"> -->
            </div>

            <div class="container">
                <div class=''>
                    <div class=''>
                        <h1>About Us</h1>
                        <p>Deciding whether to secure a loan from a bank is a big decision. You need mo’ money, but will you get it? We help you figure it out.</p>
                    </div>
                    <div class=''>
                        <h2>How we do</h2>
                        <p>We took a dataset describing 150K loans. It gave info about the borrowers like age, monthly income, and number of dependents. It also told us if the borrower couldn’t pay back the loan within 2 years. We used this to build a model that predicts whether or not a bank will give you a loan.</p>
                    </div>
                    <div class=''>
                        <h3>The Down and Dirty</h3>
                        <p>Even the best machine learning models suffer if the data is riding dirty. You gotta make it fresh son.</p>
                        <p>Important note (we about to get technical): we evaluated our models based on AUC. Because loan defaults were so rare in the dataset, the model would have 93% accuracy if it always predicted ‘no default’.</p>
                        <img src='../static/images/class_imbalance.png'>
                        <p>Because of this class imbalance, we plotted an ROC curve and calculated AUC to assess model performance. This is the ROC curve of a logistic regression model, before cleaning:</p>
                        <img src='../static/images/ROC_1_lr_dropna_only.png'>
                    </div>
                    <div class=''>
                        <h3>Step 1: Null Values + Outliers</h3>
                        <ul>
                            <li>Dropping entire rows of data gives us less data to play wit</li>
                            <li>Instead we replaced that data using averages or medians (for income, we averaged by age). This is the ROC curve of a logistic regression model, after cleaning:</li>
                        </ul>
                        <img src='../static/images/ROC_2_lr_after_cleaning.png'>
                    </div>
                    <div class=''>
                        <h3>Step 2: Data Engineering</h3>
                        <ul>
                            <li>Tried to create new features based on common sense (using the info we already got). This is the ROC curve of a logistic regression model, after new features are added:</li>
                        </ul>
                        <img src='../static/images/ROC_3_lr_after_engineering.png'>
                    </div>
                    <div class=''>
                        <h3>Step 3: Multicollinearity (wat?!)</h3>
                        <ul>
                            <li>Checked to see if any of our features were too similar</li>
                            <li>Removed ones that were</li>
                        </ul>
                        <p>Feature correlation heatmap before cleaning, engineering, and feature removal:</p>
                        <img src='../static/images/heatmap_1_before_cleaning_and_engineering.png'>
                        <p>Feature correlation heatmap after cleaning, engineering, and feature removal:</p>
                        <img src='../static/images/heatmap_2_after_cleaning_and_engineering.png'>
                    </div>
                    <div class=''>
                        <h3>Step 4: Standardize</h3>
                        <ul>
                            <li>Split the data so we had a training and testing set</li>
                            <li>Scale that data so we could push it through the model</li>
                        </ul>
                    </div>
                    <div class=''>
                        <h3>Step 5: Fit It</h3>
                        <ul>
                            <li>Tested a couple different models to see which had the best AUC score</li>
                        </ul>
                        <img src='../static/images/ROC_4_lr_after_tuning.png'>
                        <img src='../static/images/ROC_5_rf_after_tuning.png'>
                        <img src='../static/images/ROC_6_gbm_after_tuning.png'>
                        <ul>
                            <li>Found the best AUC score came from averaging probabilities of two models:</li>
                        </ul>
                        <img src='../static/images/ROC_7_ens_after_tuning.png'>
                    </div>
                    <div class=''>
                        <h3>Step 6: Predict It</h3>
                        <ul>
                            <li>Use those two models to let you know if you qualify based on the info you provide</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="footer">
            <!-- {% include 'footer.html' %} -->

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- JavaScript -->
        <script src="../static/js/form.js" type="text/javascript"></script>

    </body>
</html>
