<!DOCTYPE HTML>

<html lang='en'>
    <head>
        <title>LoanVet: Homepage</title>
        {% include 'blocks/headTags.html' %}
    </head>

    <body>
        <div class="pageContainer">
            <!-- navbar -->
            {% include 'blocks/header.html' %}

            <!--Body-->
            <div class="bodyInfo">
                <div class="container">
                    <div class="homeHeader"><h1>Vet Yo Self!</h1></div>
                    <div id="homeDescription">
                        Need a loan? Don't know if you qualify? Don't want to be laughed out a bank? We help you find out!
                        <br />
                        Enter a couple deets below and find out if you'll be approved for a loan right from your couch.
                    </div>
                    <div id="formResults" class="row">
                        <div id="inputForm" class="col-lg-8">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputAge">Age</label>
                                        <select id="inputAge" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputSalary">Salary</label>
                                        <select id="inputSalary" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputDependents">Dependents</label>
                                        <select id="inputDependents" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="inputOpenCredit"># of Open Credit Lines or Loans</label>
                                        <select id="inputOpenCredit" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label for="inputCreditLimit">Total Credit Limit</label>
                                        <select id="inputCreditLimit" class="form-control"></select>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="inputOpenRE"># of Real Estate Lines & Loans</label>
                                        <select id="inputOpenRE" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="inputOverdue">Times Overdue</label>
                                        <select id="inputOverdue" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputMonthySpend">Monthly Spend</label>
                                        <select id="inputMonthySpend" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputDebt">Total Current Debt</label>
                                        <select id="inputDebt" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="buttonWrapper">
                                        <button id="submit" type="button" class="btn btn-primary btn-styling" onclick="submitButtonClick()">Check It!</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div id="results" class="col-lg-4">
                            <div id="resultsInner">
                                <h2 id="defaultText">Fill out the form and...</h2>
                                <img src="../static/images/vet-yo-self.png" alt="" id="defaultImage">
                            </div>
                        </div>
                    </div>
                    <div id="recommendations" class="row">
                        <h3 class="centeredH">Recommendations</h3>
                        <div id="goodToGo">{% include 'blocks/goodToGo.html' %}</div>
                        <div id="callMeMaybe">{% include 'blocks/callMeMaybe.html' %}</div>
                        <div id="hellNo">{% include 'blocks/hellNo.html' %}</div>
                    </div>
                </div>
            </div>

            <!--Footer-->
            {% include 'blocks/footer.html' %}
        </div>

        {% include 'blocks/bodyTags.html' %}

    </body>
</html>
