/*
color:
#000 black
#062F4F ink
#813772 posy
#B82601 embers

font-family:
'Alfa Slab One', cursive;
'Rancho', cursive;
'Ropa Sans', sans-serif
*/

.pageContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 70px; /* height of your footer */
}

.readibleFont {
    font-family: 'Ropa Sans', sans-serif;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

#headerNavbar {
    background: #000;
    color: #FFF;
}

.homeHeader {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #062F4F;
    background-color: #fff;
}

#logoLockup {
    text-align: center;
}

#logo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 18pt;
    margin-bottom: -10px;
}

#tagline {
    font-family: 'Rancho', cursive;
    font-size: 12px;
}

#navbarText {
    font-family: 'Ropa Sans', sans-serif;
    float:right;
    text-align: right;
}

#homeDescription {
    text-align: center;
    font-size: 21px;
    font-family: 'Ropa Sans', sans-serif;
}

#formResults {
    margin: 20px 0;
}

select {
    margin-bottom: 5px;
}

#inputForm {
    border: 2px solid #062F4F;
    box-shadow: 5px 10px #062F4F;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ropa Sans', sans-serif;
}

/* #warningIncompleteForm{
    padding: 5px;
} */
button#submit {
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
}

div.buttonWrapper {
    text-align:center;
    margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #062F4F;
    border-color: #062F4F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #813772;
    border-color: #813772;
}

.btn-styling {
    margin: 10px;
}

#defaultText {
    font-family: 'Rancho', cursive;
    font-size: 40px;
}

#defaultImage {
    width: 100%;
}

#results {
    position: relative;
}

#resultsInner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#resultHeader {
    color: #813772;
    border-bottom: 2px solid #813772;
    font-size: 50px;
    font-family: 'Rancho', cursive;
    margin-top: -5px;
}

.resultPercent {
    width: 50%;
    margin: auto;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#resultImg {
    width:100%;
}

#recommendations {
    display: none;
    padding: 15px 20px;
    background-color: #F2F2F2;
    border: 1px dashed #B82601;
    font-family: 'Ropa Sans', sans-serif;
}

#recommendations p {
    margin-bottom: 5px;
    font-size: 18px;
}

#recommendations h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
    color: #062F4F;
}

#recommendations h4 {
    text-align: center;
    text-decoration: underline;
    color: #B82601;
    font-family: 'Rancho', cursive;
    font-size: 30px;
}

#recommendations h5 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#goodToGo {
    display: none;
}

#callMeMaybe {
    display: none;
}

#hellNo {
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 12px;
    height:60px;   /* Height of the footer */
}

#wuTangTitle {
    text-align: center;
}

#wuTangVid {
    text-align: center;
}

.rocImg {
    width: 100%;
    margin-bottom: 15px;
}

.heatImg {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 28px;
}

.finalImg {
    border: 5px solid #813772;
}

.majHead {
    text-align: left;
    font-family: 'Rancho', cursive;
    font-size: 50px;
    color: #062F4F;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-bottom: 10px;
}

.minHead {
    text-align: left;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 35px;
    color: #062F4F;
    margin-top: 33px;
}

p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
}

li {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    padding-left: 15px;
}
