/*
#000 black
#062F4F ink
#813772 posy
#B82601 embers

'Alfa Slab One', cursive;
'Rancho', cursive;
'Ropa Sans', sans-serif
*/



.pageContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 70px; /* height of your footer */
}

.readibleFont {
    font-family: 'Ropa Sans', sans-serif;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

#headerNavbar {
    background: #000;
    color: #FFF;
}

#homeHeader {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #062F4F;
    background-color: #fff;
}

#logoLockup {
    text-align: center;
}

#logo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 18pt;
    margin-bottom: -10px;
}

#tagline {
    font-family: 'Rancho', cursive;
    font-size: 12px;
}

#navbarText {
    font-family: 'Ropa Sans', sans-serif;
    float:right;
    text-align: right;
}

/* .bodyInfo {
    font-style: 'Ropa Sans', sans-serif;
} */

#homeDescription {
    text-align: center;
    font-size: 21px;
    font-family: 'Ropa Sans', sans-serif;
}

#formResults {
    margin: 20px 0;
}

select {
    margin-bottom: 5px;
}

#inputForm {
    border: 2px solid #062F4F;
    box-shadow: 5px 10px #062F4F;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ropa Sans', sans-serif;
}

/* #warningIncompleteForm{
    padding: 5px;
} */

div.buttonWrapper {
    text-align:center;
    margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #062F4F;
    border-color: #062F4F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #813772;
    border-color: #813772;
}

.btn-styling {
    margin: 10px;
}

#defaultText {
    font-family: 'Rancho', cursive;
    font-size: 40px;
}

#defaultImage {
    width: 100%;
}

#results {
    position: relative;
}

#results p {
    font-style: 'Ropa Sans', sans-serif;
}

#resultsInner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#resultHeader {
    color: #813772;
    border-bottom: 2px solid #813772;
    font-size: 50px;
    font-family: 'Rancho', cursive;
    margin-top: -5px;
}

.resultPercent {
    width: 50%;
    margin: auto;
    font-style: 'Alfa Slab One', cursive !important;
    font-size: 25px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#resultImg {
    width:100%;
}

#recommendations {
    display:none;
    margin-top: 10px;

}

#recommendations h4 {

}
#recommendations h5 {

}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 12px;
    height:60px;   /* Height of the footer */
}



#wuTang {
    text-align: center;
}
